<form class="quizForm" (ngSubmit)="onSubmit()">
  <a id="top"></a>
  <h1 class="quizName">{{ quizName }}</h1>
  <div *ngFor="let question of questions; let i = index">
    <h4 class="question">{{ i+1 }}. {{ question.question }}</h4>
    <ul class="options">
      <li class="option" *ngFor="let option of question.options">
        <label>
          <input class="radioButton" type="radio" [disabled]="quizTaken" [name]=" 'question' + question.id" [value]="option.id" [(ngModel)]="answers[question.id - 1].answer" >
          <span class="optionText">{{ option.text }}</span>
        </label>
      </li>
    </ul>
  </div>
  <button class="submitButton" [disabled]="quizTaken" (click)="onSubmit()">Submit</button>
  <a id="backUp" href="#top"><button class="resetButton" [disabled]="!quizTaken" (click)="resetQuiz()">Start Over</button></a>
  <app-grade *ngIf="quizTaken"></app-grade>
  <a id="bottom"></a>
</form>