/* Temporary  */

.quiz-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.questions-container {
  margin-bottom: 20px;
}

.question {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.option {
  margin-bottom: 10px;
}

.radio-button {
  margin-right: 10px;
}

.option-text {
  font-size: 16px;
  color: #555;
}

.submit-button,
.reset-button {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #007bff;
  border: none;
  cursor: pointer;
}

.submit-button:disabled,
.reset-button:disabled {
  background-color: #ccc;
  cursor: default;
}
