#footer{
    position:fixed;
    bottom:0px;
    width: 100%;
}
#not-footer{
    padding-bottom: 80px;
}

#header{
    position:fixed;
    top:0px;
    width:100%;
}
.not-header{
    padding-top: 80px;
}